# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno (NUNCA commitear!)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Datos locales
backend/data/
